<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.bunny.net" crossorigin>
  <link rel="preload" href="https://fonts.bunny.net/hanken-grotesk/files/hanken-grotesk-latin-400-normal.woff2"
    as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.bunny.net/hanken-grotesk/files/hanken-grotesk-latin-700-normal.woff2"
    as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="https://fonts.bunny.net/css?family=hanken-grotesk:400,700&display=swap" />
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <article>
    <h1>{{ title }}</h1>
    <main>
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </main>
  </article>
</body>

</html>
